[package]
name = "zohohorrorshow"
version = "0.7.4"
authors = ["Xymist <james@jamieduerden.me>"]
repository = "https://github.com/Xymist/zohohorrorshow"
readme = "README.md"
license-file = "LICENSE.md"
description = "A library for interacting with the Zoho Projects API"
edition = "2018"

[dependencies]
failure = "0.1.5"
reqwest = "0.9"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
oauth2 = "2.0.0-alpha.4"
url = "1.7"
webbrowser = "0.4"

[dependencies.chrono]
features = ["serde"]
version = "0.4"

[dev-dependencies]
dotenv = "0.13"
